<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Smart</title>
    <link href="{% static 'css/bootstrap/bootstrap.css'%}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top bg-white shadow-sm text-white">
        <div class="container-fluid px-5">
            <a class="navbar-brand h3" style="font-size: 1.75rem !important;" href="{% url 'index' %}">SMART</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link mx-3" href="{% url 'login' %}"><i
                                class="bi bi-arrow-right-square text-secondary ml-5 mr-2"></i> Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid bg-white" style="height: 90% !important;">
        <div class="d-flex flex-column h-100 w-100 justify-content-center align-items-center">
            <img src="{% static 'images/403.jpg' %}" alt="Permission Denied" style="width: 30%; height: auto;">
            <h1 class="text-danger fw-bold my-5">You do not have Permission to continue.</h1>
            <p class="text-dark fw-normal">It seems like you do not have permission to continue.</p>
            <p class="text-dark fw-normal">Login in as a privileged user or contact admin.</p>
        </div>
    </div>
    <div class="bg-dark d-flex flex-row justify-content-center align-items-center w-100 p-3 fixed-bottom">
        <small class="text-white">© 2021, designed by SMART Store</small>
    </div>
</body>

</html>