<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Staff Home Smart</title>
    <link href="{% static 'css/bootstrap/bootstrap.css'%}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">
    <style>
        @font-face {
            font-family: 'Roboto';
            src: url('Roboto-ThinItalic-webfont.eot');
            src: url('Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
                url('Roboto-ThinItalic-webfont.woff') format('woff'),
                url('Roboto-ThinItalic-webfont.ttf') format('truetype'),
                url('Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg');
            font-weight: 200;
            font-style: italic;
        }

        * {
            font-family: "Roboto" !important;
        }
    </style>
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light sticky-top bg-white shadow-sm text-white">
        <div class="container-fluid px-5">
            <a class="navbar-brand h3 fw-bold" href="{% url 'staff_home' %}">SMART</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link h4 active mx-3" aria-current="page" href="{% url 'staff_billing' %}"><i
                                class="bi bi-file-earmark-text-fill text-secondary ml-5 mr-2"></i> Bills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h4 active mx-3" href="{% url 'staff_stocks' %}"><i
                                class="bi bi-stack text-secondary ml-5 mr-2"></i> Stocks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h4 mx-3" href="{% url 'staff_products' %}"><i
                                class="bi bi-basket2-fill text-secondary ml-5 mr-2"></i> Products</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle h4 text-capitalize mx-3" href="" id="navbarDropdown"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle text-secondary ml-5 mr-2"></i> {{ user }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <!-- <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><hr class="dropdown-divider"></li> -->
                            <li>
                                <a class="dropdown-item" href="{% url 'logout' %}">
                                    <i class="bi bi-arrow-right-square text-secondary mx-3"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container h-100">
        <div class="d-flex flex-column shadow-sm bg-white m-5 p-5 align-items-center">
            <div class="d-flex flex-row justify-content-between my-3 fw-bold">
                <h4 class="h4 fw-bold">Products</h4>
                <!-- <a href="{% url 'staff_products_add' %}">Add New</a> -->
            </div>
            <div class="d-flex flex-column col col-4">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_name" class="form-label">Name:</label>
                        <input type="text" class="form-control" name="name" placeholder="Product Name" maxlength="100" required="" id="id_name">
                    </div>
                    <div class="mb-3">
                        <label for="id_price" class="form-label">Price:</label>
                        <input type="number" class="form-control" name="price" placeholder="Price" step="0.01" required="" id="id_price">
                    </div>
                    <div class="mb-3">
                        <label for="id_code" class="form-label">Product Code:</label>
                        <input type="text" class="form-control" name="code" placeholder="Product Code" maxlength="30" required="" id="id_code">
                    </div>
                    <div class="mb-3">
                        <label for="id_email" class="form-label">Supplier Email:</label>
                        <input type="email" class="form-control" name="email" value="admin@smart.com" placeholder="supplier_email@gmail.com" maxlength="254"
                            required="" id="id_email">
                    </div>
                    <div class="mb-3 d-flex justify-content-around">
                        <a class="btn btn-primary text-decoration-none text-white" href="{% url 'staff_products' %}">Go Back</a>
                        <input type="submit" class="btn btn-primary align-self-center" value="Add Product">
                    </div>
                    {% if msg %}
                    <div class="alert alert-success" role="alert">
                        <i class="bi bi-check-circle text-success"></i> {{ msg }}
                    </div>
                    {% endif %}
                    {% if err %}
                    <div class="alert alert-danger" role="alert">
                        <i class="bi bi-exclamation-circle text-danger"></i>{{ err }}
                    </div>
                    {% endif %}
                </form>
            </div>

        </div>
    </div>
</body>

</html>